%h1 Club index

%table
  %thead
    %tr
      %td{:style => 'padding: 8px;'} id
      %td Name
      %td Place
      %td Country


  - @clubs.each do |club|
    %tr
      -if club.colour_hex
        %td{ :style => 'background-color:' + club.colour_hex + ";" }
          = club.id
      - else
        %td
          = club.id
      %td
        = link_to "" + club.name, club
      %td
        = club.place.name
      %td
        = club.country.name

%hr

= debug(@club)
