%h1 All seasons

%table
  %thead
    %tr
      %td id
      %td Season
      %td comp
      %td level

  - @seasons.each do |season|
    %tr
      %td 
        = season.id
      %td
        = link_to season.year_begin.to_s + "-" + season.year_end.to_s, season_path(season)
      %td
        = season.competition_id

      %td
        = season.level_id

        
%hr

        


= debug(@seasons)