%h1 All stints

%table
  %thead
    %tr
      %td 
      %td Person
      %td Role
      %td Joined
      %td Left
      %td From
      %td Fee
      %td To
      %td Fee

  - @stints.each do |stint|
    %tr
      %td 
        = link_to "edit", edit_stint_path(stint)
        ,
        = link_to "show", stint_path(stint)
      %td
        = link_to stint.person.first_name + " " + stint.person.last_name, stint.person       
      %td 
        = link_to stint.role.name, stint.role
      %td
        = stint.join_date
      %td
        = stint.leave_date
      %td
        = stint.bought_from
      %td
        = stint.bought_fee
      %td
        = link_to @clubs[ stint.sold_to - 1].name, club_path(@clubs[ stint.sold_to - 1])

        / = @clubs[stint.sold_to].name

      %td
        = number_to_currency(stint.sold_fee, :precision => 0, :unit => "&pound;")

%hr

= debug(@stints)