%h1

  Stint as a
  
  = link_to @stint.role.name, @stint.role

  for

  = link_to @stint.person.first_name + " " + @stint.person.last_name, @stint.person
  
%fieldset

  (

  = @stint.join_date

  - if @stint.join_date != @stint.leave_date
    \-

    = @stint.leave_date
  )

  %br
  
  - if @club_sold_to
    Sold to 
    = link_to @club_sold_to.name, club_path(@club_sold_to)

    - if @stint.sold_fee
      for
      = number_to_currency(@stint.sold_fee, :precision => 0, :unit => "&pound;")


  - if !@stint.is_permanent?
    on loan


%hr

= debug @stint.person.stints

/= debug @stint