%h1 All people

%table{border: "1"}
  %thead
    %tr
      %td id
      %td Name

      %td Stint(s)

      %td birthday

      %td From
      %td Bio

      %td Height
      %td photo
      %td caption
      %td watford legends url

  - @people.each do |person|
    %tr
      %td 
        = person.id
      %td 
        = link_to "" + person.first_name + " " + person.last_name, person
      
      %td
        - person.stints.each do |stint| 
          %p
            = link_to "link", stint_path(stint)
            = stint.join_date
            - if stint.join_date != stint.leave_date
              to 
              = stint.leave_date

      %td
        = person.date_of_birth
      %td
        = person.place.name if person.place
      %td
        = person.bio
      %td
        = person.height
      %td
        = person.photo_url
      %td
        = person.photo_caption
      %td
        - if person.watford_legends_url != ''
          = link_to "Watford Legends", person.watford_legends_url

        / person.first_name + " " + person.last_name + " article at Watford Legends"


%hr

= debug(@people)