%h1 All people

%table
  %thead
    %tr
      %td id
      %td Name
      %td birthday

      %td From
      %td Bio

      %td Height
      %td photo
      %td caption
      %td watford legends url

  - @people.each do |person|
    %tr
      %td 
        = person.id
      %td 
        = link_to "" + person.first_name + " " + person.last_name, person
      %td
        = person.date_of_birth
      %td
        = person.place.name
      %td
        = person.bio
      %td
        = person.height
      %td
        = person.photo_url
      %td
        = person.photo_caption
      %td
        = person.watford_legends_url



%hr

= debug(@people)