<h1>New</h1>

<%= form_for(@person) do |f| %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.submit "Add a person", class: "btn btn-large btn-primary" %>
<% end %>
