<h1>New person</h1>

<%= form_for(@person) do |f| %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <br> 

  <%= f.label :middle_name %>
  <%= f.text_field :middle_name %>

  <br> 
  

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <br> 
  
  <%= f.label :date_of_birth %>
  <%= f.date_select :date_of_birth, start_year: 1850, include_blank: true %>

  <br> 

  <%= f.label :place_id %>
  <%= f.collection_select :place_id, @places, :id, :name %>
  

  <%= f.submit "Add a person", class: "btn btn-large btn-primary" %>
<% end %>
