<h1><%= @person.first_name %> <%= @person.last_name %></h1>

<% if @person.photo_url %>
  <aside>
    <%= image_tag @person.photo_url, {height: 100} %>
    <% if @person.photo_caption %>
      <cite><%= @person.photo_caption %></cite>
    <% end %>
  </aside>
<% end %>


<!-- TODO: Logic if there are middle names @person.middle_name etc.. -->

<hr />

<h2>Details</h2>
<b>DOB</b> <%= @person.date_of_birth %><br />
<b>Place of birth</b> <%= @place.name %>, <%= @country.name %><br />

<!--TODO: Map -->

<%= distance watford_coords,[@place.lat, @place.lon] %>
miles away from Vicarage Road



<hr />


<h2>Roles</h2>
Any roles?

<hr />

<% if @person.bio %>
  <h2>Bio</h2>
  <div><%= @person.bio %></div>
<% end %>