/ TODO: Move CSS

:css
  #map { width: 200px; height: 200px; }

%h1
  = @person.first_name
  = @person.last_name

%fieldset

  %b DOB
  = @person.date_of_birth
  %br
  %b Place of birth
  
  - if @place
    = @place.name
  - else
    No place given
  ,

  - if @country
    = @country.name
  - else
    No country given



  - if @stints.count > 1

    - @stints.each do |s|
      = s.role.name
      - if s.id != @stints.count
        and
      

%br

- if !@person.photo_url.empty?
  %aside
    = image_tag @person.photo_url, {height: 100}
    - if @person.photo_caption
      %cite= @person.photo_caption

/ TODO: Logic if there are middle names @person.middle_name etc..



- if @stints && !@stints.empty?
  %hr
  %h2 Stints
  - @stints.each do |stint|
    %fieldset
      %h3

        = stint.join_date
        \-
        = stint.leave_date
        as 
        = stint.role.name
        

      - if stint.bought_fee
        = stint.bought_fee 
      - else
        No fee in



      - if stint.sold_fee
        = stint.sold_fee 
      - else
        No fee out
        

      %br
      = stint.bought_from if stint.bought_from
      %br
      = stint.sold_to if stint.sold_to

  %hr




%br
/ TODO: Map
- if @place && @place.lat && @country && @country.name != "England"
  = distance watford_coords,[@place.lat, @place.lon]
  miles away from Vicarage Road

  = map(:center => {:latlng => [@place.lat, @place.lon], :zoom => 6 }, :markers => [{ :latlng => [@place.lat, @place.lon] }])

%br

- if !@person.watford_legends_url.blank?
  = link_to "" + @person.last_name + " legends article", @person.watford_legends_url

%hr/
- if !@person.bio.blank?
  %h2 Bio
  %div
    = @person.bio

= debug @person