<h2>Name</h2>
<b>First name</b> <%= @person.first_name %> <br />
<b>Middle name</b> <%= @person.middle_name %> <br />
<b>Last name</b> <%= @person.last_name %><br />
<hr />
<b>DOB</b> <%= @person.date_of_birth %><br />
<b>Place of birth</b> <%= @person.place_id %><br />
-- long --
-- lat --