<h1>Edit country</h1>

<%= form_for(@country) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <br> 

  <%= f.label :lat %>
  <%= f.text_field :lat %>

  <br> 

  <%= f.label :lon %>
  <%= f.text_field :lon %>

  <br> 

  <%= f.submit "Edit this country", class: "btn btn-large btn-primary" %>
<% end %>
