/ TODO: Move CSS

:css
  #map { width: 200px; height: 200px; }

%h1
  = @country.name

%span
  - if @country.lat && @country.name != "England"
    = distance watford_coords,[@country.lat, @country.lon]
    miles away from Vicarage Road
  
/ TODO: Add flags dynamically from wikimedia, maybe through a yaml  
/ %img{:src => 'http://upload.wikimedia.org/wikipedia/commons/0/0a/Flag_of_Jamaica.svg'}

/= debug @country

- if @country.lat
  
  / = map(:center => {:latlng => [@country.lat, @country.lon], :zoom => 6 }, :markers => [ { :layers => [a, b]  } ])

  / = map(:center => {:latlng => [@country.lat, @country.lat], :zoom => 10 }, :markers => [ { :latlng => [51.52238797921441, -0.08366235665359283], :popup => "Hello!" } ] )
  / = places_array



%hr
%hr





%hr

  - @places.each do |place|
    = place.name


%h2
  = pluralize(@people.count, 'hornet')
  associated with
  = @country.name
%ul
- @people.each do |person|
  %li
    = link_to "" + person.first_name + " " + person.last_name, person

%hr


%h2
  = pluralize(@country.places.count, 'place')
  in
  = @country.name
%ul  
- @country.places.each do |place|
  %li 
    = link_to "" + place.name, place





%hr
= debug @country
%hr