.header
  = link_to "New Place", new_place_path
  | 
  = link_to "New Country", new_country_path
  |||||
  = link_to "New Person", new_person_path
  ||||| 
  = link_to "New Club", new_club_path
  ||||| 
  = link_to "New Season", new_season_path
  |
  = link_to "New competition", new_competition_path
  | 
  = link_to "New level", new_level_path
